<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title "Borrowers Page" %></title>
</head>
<body>
    <div class="container">
        <div>
            <a href="/logout" data-method="delete">Logout</a>
            <h5>Name: <%= "#{@debitor.first_name} " "#{@debitor.last_name}"%></h5>
            <h5>Amount needed: $<%= @debitor.amount %></h5>
            <h5>Amount raised: $<%= @debitor.raised %></h5>
        </div>
        <h4>List of people who loaned you money:</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Amount Lent</th>
            </tr>
            </thead>
            <tbody>
            <% @loans.each do |loans| %>
                <tr>
                    <td><%= "#{loans.first_name}" " #{loans.last_name}" %></td>
                    <td><%= loans.email %></td>
                    <td><%= loans.total_loan %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</body>
</html>