<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title "Dashboard" %></title>
</head>
    <body>
        <div class="container">

            <div>
                <h2>Hi <%= "#{@user.first_name} " "#{@user.last_name}"%>!</h2>
                <a href="/logout" data-method="delete">Logout</a>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <h4>Here are the organizations you may join:</h4>
                    <% @group.each do |group| %>
                        <p><a href="/groups/<%= group.id %>"> <%= group.name %></a></p>
                        <p>Members: <%= group.users.count %></p>
                        <p><%= group.description %></p>
                    <% if group.user == current_user %>
                        <form action="/groups/<%= group.id %>" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                            <button class="btn btn-danger">Delete</button>
                        </form><hr>
                    <% end %>
                    <% end %>
            </div>

                <!-- New group-->
            <div class="col-5">
                <h4>Create a new organization:</h4>
                <form action="/groups" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                    <div class="form-group">
                        <label for="name">Org Name:</label>
                        <input type="text" name="org[name]" id="name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" name="org[description]" id="description" rows="5"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
            <!--  end new group-->

        </div>
    </body>
</html>